<div class="wrapper-md m-t-xl">
  <div class="row">
    <div class="col-lg-7 b-a m-l-xl">
      <div class="gallery-container">
        <dx-gallery #gallery
                    id="gallery"
                    [dataSource]="dataSource"
                    [height]="330"
                    [slideshowDelay]="4000"
                    [loop]="true"
                    [showNavButtons]="false"
                    [showIndicator]="true"></dx-gallery>
      </div>
    </div>

    <!-- Login -->
    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading font-bold text-center">GET STARTED</div>
        <div class="panel-body">
          <form class="form-validation"
                novalidate
                (ngSubmit)="login()"
                [formGroup]="loginForm">
            <!--<div class="text-danger wrapper text-center" *ngIf="authError">{{authError}}</div>-->
            <div class="form-group">
              <label><strong>User Name</strong></label>
              <input type="text"
                     class="form-control"
                     id="userNameId"
                     placeholder="User Name (required)"
                     required
                     formControlName="userName" />
            </div>

            <div class="form-group">
              <label><strong>Password</strong></label>
              <input type="text"
                     class="form-control"
                     id="passwordId"
                     placeholder="Password (required)"
                     required
                     formControlName="password" />
            </div>

            <div class="checkbox m-b-md m-t-none">
              <label class="i-checks i-checks-sm">
                <input type="checkbox" ng-model="agree" required><i></i> I agree to the <a href="">terms and conditions</a>
              </label>
            </div>

            <div class="m-b-xs">
              <button type="submit"
                      class="btn w-md btn-default"
                      [disabled]="!loginForm.valid">
                <i class="fa fa-sign-in"></i> Log in
              </button>

              <button class="btn btn-default pull-right"><i class="fa fa-sign-out"></i> Reset password</button>
            </div>
          </form>

          <div class="line b-b line-lg"></div>

          <div class="text-center">
            <a href="" class="h4 text-success-dk" data-ng-click="newAccount()"><strong>CREATE NEW ACCOUNT</strong></a>
          </div>
        </div>
      </div>
    </div>
    <!-- /Login -->
  </div>
</div>



